{% extends 'base.html' %}

{% block title %} {{page_title}} {% endblock %}

{% block content %}



<button onclick="toggleView()" class="btn btn-active list-toggle">List View</button> 
<button onclick="toggleView()" class="btn btn-info map-toggle">Map View</button> 
<a class="btn btn-info add" role="button" href="{% url 'sightings:add' %}">+ Add {{model_type}}</a></br></br>

<div class="map-view"> 
	<div id="map"></div>
</div>

    <script>
      var map;
      function initMap(LatLngList) {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(43.677023, -79.466782),
          mapTypeId: 'terrain'
        });
	     }
     </script>

     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCGCPIth4aCl4JQPeFixLzWMA2VWwcXec&callback=initMap">
    </script>

<div class="list-view"> 
  <script> 
    var LatLngList = [];
    var Names = [];
    var Datetimes = []; 
  </script>
  {% if sighting_list %}
    {% for sighting in sighting_list %}
       <script type="text/javascript">
        LatLngList.push([{{sighting.location.latitude}}, {{sighting.location.longitude}}]);
        Datetimes.push('{{sighting.datetime}}');
        Names.push('{{sighting.artist.name}}');
       </script>
       <div class="card">
	       <div class="card-block">
  	       <h4 class="card-title"><a href='{% url "artists:detail" sighting.artist.id %}'>{{ sighting.datetime }}{{timedelta}}{{ sighting.artist.name }}</h4></a>
  	       <h6 class="card-subtitle mb-2 text-muted">{{ sighting.location }}</h6>
  	       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    	  </div>
    	</div>
    {% endfor %}
  {% else %}
    <p>None available.</p>
  {% endif %}
</div>
<script>
	function toggleView() {
		$('.map-view, .list-view').toggle();
		$( ".list-toggle").toggleClass( "btn-info", "btn-active" );
		$( ".map-toggle").toggleClass( "btn-info", "btn-active" );
		google.maps.event.trigger(map, 'resize');
    loadMarkers(Names, Datetimes, LatLngList);
	}
  function loadMarkers(Names, Datetimes, LatLngList) {
    initMap(LatLngList);
    for (var i = 0; i < LatLngList.length; i++) {
      var myLatLng = new google.maps.LatLng(LatLngList[i][0], LatLngList[i][1]);
      marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
      });
      var contentString = `<div class='card-block'><h4 class='card-title'>`+Names[i]+`</h1><p class='card-text'>`+Datetimes[i]+`</p></div>`
      google.maps.event.addListener(marker, 'click', (function(marker) {
        return function() {
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          infowindow.open(map, marker);
        }
      })(marker));
     }
    var bounds = new google.maps.LatLngBounds();
     for (var i = 0; i < LatLngList.length; i++) {
       bounds.extend(new google.maps.LatLng(LatLngList[i][0], LatLngList[i][1])); 
     }
      map.setCenter(bounds.getCenter());
      map.fitBounds(bounds); 
   }
	$('.map-view').toggle();
 </script>

{% endblock %}
