{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %} 
<a href="/musicians"> < Back to Musicians</a>
{% endblock %}

{% block title %}{{talent.name}}{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<h2>

</h2> 
<table>
	<tr> <th>Name:</th> <td>{{ talent.name }}</td></tr>
	              {% if talent.metadata %}
                {% for field, values in talent.metadata.items %}
                  <tr> 
                    <th>{{field|capfirst}}:</th>
                    {% for tag in values %}
                    <td>{{tag}}, </td> 
                    {% endfor %}
                  </tr> 
                {% endfor %}
              {% endif %}
	<tr><th>Date Created:</th><td>{{talent.pub_date}}</td></tr>
  <tr><th>Created by:</th><td>{{talent.author}}</td></tr>
</table>
<a class="btn btn-info" role="button" href="/talent/{{talent.get_type}}s/{{talent.id}}/edit">Edit</a>
<a class="btn btn-info" role="button" href="/talent/{{talent.get_type}}s/{{talent.id}}/delete">Delete</a>

<h2> Recent Performances </h2>

<ul> 
{% if performances %}
{% for post in performances %}
  <div class="card">
         <div class="card-block">
           <h4 class="card-title">
            {% for musician in post.get_musicians %}<a href='#'>{{ musician }}, </a>{% endfor %}
          </h4>
           <h6 class="card-subtitle mb-2 text-muted"></h6>
           <div id="{{post.id}}_applause_message" class="applause_error"></div>
           <img style="width: 40px" src="{% static '/images/glyphicons/applause3.png' %}"/> 
           <span id="{{post.id}}_applause_count" class="applause_count">{{post.total_audience}}</span>
        </div>
        <div class="card-footer"> At {{ post.start_time }} </div>
      </div>
{% endfor %}
{%else%}
  None to show. 
{% endif %}
</ul>

<div id="map"></div>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
    <script>

      function initMap() {
      	var map;
		var myLatLng = new google.maps.LatLng(43.649250, -79.397140);

		  map = new google.maps.Map(document.getElementById('map'), {
		    zoom: 4,
		    center: myLatLng
		  });
		var marker = new google.maps.Marker({
		    	position: myLatLng,
		    	map: map
		  });
	}

	  </script>

	  	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCGCPIth4aCl4JQPeFixLzWMA2VWwcXec&callback=initMap"></script>
</br>
{% endblock %}