{% extends 'base.html' %}
{% load static %}

{% block title %} 
  {{ user.username }}'s Profile 

{% endblock %}

{% block content %}
    I'm the Applause
{% if user.profile.get_musician %}
   and the Music. </br> 

{% else %}
  . </br> <a href="{% url 'userprofile:create-musician' user.profile.id %}" class="text-muted"> You can be a musician, too.</a>

  {% endif %}

<div class="row"> 
  <div class='col-md-12 section-header'>
    <div class="section-title"> 
      <h2> Basic Info </h2> </div>
    <div class="section-actions"></div>
  </div>
</div>
<div class="row"> 
  <div class="col-md-3">
    <div class="profile_pic">
      <img src="..{{MEDIA_URL}}{{user.profile.profile_pic}}" />
    </div>
  </div>

  <div class="col-md-9">
    <ul>
      <li>Username: {{user.username}}</li>
      <li>Bio: {{user.profile.bio}}</li>
      <li>Location: {{ user.profile.location }}</li>
      <li>Birth Date: {{ user.profile.birth_date }}</li>
    </ul>
    <a class="btn btn-info" role="button" href="{% url 'userprofile:edit' user.profile.id %}">Edit</a>
  </div>
</div>



<h2> Recent Activity </h2>



      {% if performances %}
      {% for post in performances %}
        <div class="card">
               <div class="card-block">
                 <h4 class="card-title">
                  {% for musician in post.get_musicians %}<a href='#'>{{ musician }}, </a>{% endfor %}
                </h4>
                 <div id="{{post.id}}_applause_message" class="applause_error"></div>
                 <img style="width: 40px" src="{% static '/images/glyphicons/applause3.png' %}"/> 
                 <span id="{{post.id}}_applause_count" class="applause_count">{{post.total_audience}}</span>
              </div>
              <div class="card-footer"> {{user.username}} performed at {{ post.datetime }} </div>
            </div>
      {% endfor %}
      {%else%}
        None to show. 
      {% endif %}

 

{% endblock %}
